@tailwind base;
@tailwind components;
@tailwind utilities;

.main__crewBtn.active, 
.main__crewBtn.active:focus{
  --tw-bg-opacity: 1;
}
.main__crewImg.active, 
.main__crewInfo.active{
  transform: translateX(0);
}