@tailwind base;
@tailwind components;
@tailwind utilities;

.planet-spin{
  animation: planet-spin 30s infinite linear;
}

@keyframes planet-spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}