@tailwind base;
@tailwind components;
@tailwind utilities;

.tech__slideBtn.active{
  color: var(--black);
  background-color: var(--white);
  opacity: 1;
}
.tech__heroImg.active, 
.tech__textBox.active{
  transform: translateX(0);
}